<h3 class="form__title">Введите запрос</h3>
<form class="search-form" id="search-form">
  <input
    id="search"
    class="input"
    type="text"
    name="query"
    autocomplete="off"
    placeholder="Search images..."
    required
  />
  <button class="btn__find" type="submit">Найти</button>
</form>

<ul class="gallery articles"></ul>

<button type="button" class="btn btn-primary button my-element-selector" data-action="load-more">
  <span
    class="spinner-border spinner-border-sm spinner is-hidden"
    role="status"
    aria-hidden="true"
  ></span>

  <span class="label">Показать ещё</span>
</button>
<div class="observer-container"></div>
